---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import PainPoints from "../components/PainPoints.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Pricing from "../components/Pricing.tsx";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.tsx";
import Contact from "../components/Contact.tsx";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import CalendlyWidget from "../components/CalendlyWidget.astro";
import "../styles/global.css";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <PainPoints />
    <HowItWorks />
    <Features />
    <Pricing client:visible />
    <Testimonials />
    <FAQ client:visible />
    <Contact client:visible />
    <CTA />
  </main>
  <Footer />
  <CalendlyWidget />
</Layout>
